.add-creator-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  text-align: center;
}

form label {
  margin-bottom: 1rem;
}

fieldset {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid var(--color-foreground);
  border-radius: 5px;
}

legend {
  font-size: 1.25rem;
  font-weight: bold;
}

button {
  margin-top: 1rem;
}
