/* src/components/HeroSection.css */
.hero {
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 4rem;
}

.hero button {
  margin: 0.5rem;
}
